

#loading {
    background: url("{% static 'image/booking/hotel-loader1.gif'%}") no-repeat center center;
    background-size: 100px;
    border-radius: 50%;
    height: 50px;
    align-items: center !important;
    justify-content: end !important;
    text-align: center;
}

.address {
    height: 20px;
    overflow-y: hidden;
}

.hotel-image{ 
    height: 150px;
    width: 100%;
}


/* --------------------- - range slider ---------------- */
.wrapper{
    width: 100%;
    height: 140px;
    padding: 6px;
    margin: 4px;
    margin-left: -6px;
}



.box-1 {
    margin: 8px 4px;
    font-size: 20px;
}

.price-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.field {
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field input {
    border: none;
    width: 70px;
    outline: none;
    padding: 0 4px;
}

.slider {
    height: 11px;
    position: relative;
    background: #f1f1f1;
    border-radius: 5px;
    margin-top: 11px;
    height: 5px !important;
}

.slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #029e9d !important;
    margin-top: 0px;
}

.range-input{
    position: relative;
}
    
.range-input input{
    position: absolute;
    width: 100%;
    height: 12px;
    top: 0px;
    background: none;
    margin-bottom: 3px;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
} 


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator{
    width: 100px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

input[type="range"]::-webkit-slider-thumb{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: white;
    border: 1px solid #029e9d;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    margin-top: -16px;
}

input[type="range"]::-moz-range-thumb{
    height: 15px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: white;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: #029e9d;
}

/* Skeleton Loader --------*/

.skeleton-box {
    display: inline-block;
    height: .8em;
    position: relative;
    overflow: hidden;
    background-color: #dddbdd;
    border-radius: 4px;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
        );
        animation: shimmer 5s infinite;
        content: "";
    }

    @keyframes shimmer {
        100% {
        transform: translateX(100%);
        }
    }
    }

    .blog-post {
    &__headline {
        font-size: 1.25em;
        font-weight: bold;
    }

    &__meta {
        font-size: 0.85em;
        color: #6b6b6b;
    }
    }

    /* // OBJECTS */

    .o-media {
    display: flex;

    &__body {
        flex-grow: 1;
        margin-left: 1em;
    }
}

.o-vertical-spacing {
> * + * {
    margin-top: 0.75em;
}

&--l {
    > * + * {
    margin-top: 2em;
    }
}
}