{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Privacy Policy - Vacation Feast</title>

    <meta name="og:title" content="Privacy Policy - Vacation Feast">
    
    <meta name="description" content="Vacation Feast's Privacy Policy ensures the security and confidentiality of your personal information." />
    
    <meta name="og:description" content="Vacation Feast's Privacy Policy ensures the security and confidentiality of your personal information.">
    <meta name="keywords" content="privacy policy" />
  <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/home/Magnet logo.png' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/home/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="{% static 'css/home/style.css' %}" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="{% static 'css/home/plugin.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/home/fonts/line-icons.css' %}" type="text/css">
</head>

<body>
    <h1 style="display:none">Privacy Policy - Vacation Feast</h1>
 <!-- Preloader -->
     <div id="preloader">
        <div id="status"></div>
    </div> 
    <!-- Preloader Ends -->

    <!-- header starts -->
    {% include 'home/header.html' %}
    <!-- header ends -->

    <!-- header ends -->

    <!-- Terms starts -->
    <!-- <section class="pt-3 pb-3">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section> -->
    <style>
        .title {
            font-size: 35px;
        }

        .section-title {
            font-size: 20px;
            margin-top: 30px;
        }

        p {
            font-size: 14px;
            margin-bottom: 8px;
        }

        .tc_ul li {
            font-size: 14px;
            margin-bottom: 6px;
        }

        .tc_ol li {
            font-size: 14px;
            margin-bottom: 4px;
        }

        .tc_ul {
            margin: 10px 0px 10px 40px;
            padding: 0;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            list-style-position: inside;
        }

        

    </style>
    <div class="container">
        <div class="row col-lg-10  mt-10 mb-5 mx-auto terms-and-conditions-section">
          <div class="text-center mb-5">
            <h1 class="title">Privacy Policy</h1>
            <p>At Vacation Feast, your privacy is our priority. We're here to create amazing vacations, not collect unnecessary data. We won't bombard you with spammy emails, calls, or messages. We take data security seriously. Any personal and financial information you share with us will be kept safe and secure. We believe your privacy matters, and we'll make every effort to protect it.</p>
          </div>
  
          <div class="bg-grey pt-1 px-5 pb-4 rounded">
            <div class="content">
  
              <h2 class="section-title">Our Privacy Policy</h2>
              <p>
                Vacation Feast values your privacy and wants you to feel safe and comfortable when using our services. This policy explains who we are and how we handle your personal information, like your name, address, phone number, email, and credit card details, especially when you use our website. We never sell or rent your personal information to anyone else. Sometimes, we might update our Privacy Policy, so it's a good idea to check back here every now and then to stay up-to-date. But don't worry, any changes we make will still follow the same privacy rules we've told you about here.
              </p>
            
              <h2 class="section-title">What personal information do we collect from you?</h2>
              <p>
                We'll usually ask for:
              </p>
              <div class="tc_ul">
                <li>Your name, address, email, and contact info</li>
                <li>Your birth date</li>
                <li>Your gender</li>
                <li>Information about how you use what we offer</li>
              </div>
              <p>Depending on what you're getting from us, we might also ask for:</p>
              <div class="tc_ul">
                <li>Travel insurance info</li>
                <li>Your passport number</li>
                <li>Your credit card details</li>
              </div>
              <p>Here's how we gather your personal info:</p>
              <div class="tc_ul">
                <li>Using forms you fill out</li>
                <li>Contact to you on the phone, through texts, or messaging apps</li>
                <li>Online, like on our website or social media</li>
                <li>Meeting you in person</li>
                <li>Through forms you subscribe to or enter</li>
                <li>Booking forms and requests for more info</li>
                <li>Emails and response forms</li>
              </div>
              <p>We'll collect your personal info now and then, using the methods we mentioned earlier. For instance, when you buy something from us, update your details, ask about our stuff, or request info from us. We might also connect info we already have about you with new info we gather.</p>
  
              <h2 class="section-title">Making a Purchase</h2>
              <p>
                When you buy travel services on our website, we'll need some of your personal details like your name, credit card info, billing address, phone number, and email. If you're booking for others, you need their permission to share their info with us.
              </p>
  
              <h2 class="section-title">Member Registration</h2>
              <p>
                If you sign up as a member on Pickyourtrail.com, you'll need to provide your name, address, phone number, and email. We also ask you to create a unique username and password. We collect this info for a few reasons: to identify you, to complete your bookings, to contact you if needed, to tailor our site to your needs, and to make improvements. We'll also use your email to confirm your membership and bookings.
              </p>
  
              <h2 class="section-title">Cookies</h2>
              <p>
                Our websites use "cookies" to provide various services to you. A cookie is a small piece of data that a website sends to your browser and is stored on your computer or device. There are two main types of cookies,
              </p>
              <ol class="tc_ol">
                <li>Session cookies.</li>
                <li>Persistent cookies.</li>
              </ol>
              <p>Session cookies are temporary and disappear when you leave our site, while persistent cookies stay on your device for a set period.</p>
                <p>Cookies help our websites work better with your device. Vacation Feast uses cookies to gather information for different purposes, like improving how our websites run, understanding what you like, customizing our site for you, and making our ads more relevant. Sometimes, other companies may also use our cookies to show you ads on other websites.</p>
                <p>You can manage cookies using your browser settings. This means you can delete cookies, choose not to accept them, or get notified when a website is using them.</p>

              <h2 class="section-title">We collect your personal information so we can:</h2>
              <div class="tc_ul">
                <li>To know who you are and give you our products and services. We might also let you know about new stuff we have.</li>
                <li>To understand what you need and provide you with the right product or service.</li>
                <li>To set up, handle, and keep track of our products and services.</li>
                <li>To learn more about you, like what you like and how you use our stuff. This helps us improve what we offer and how we do business, including how we communicate with you.</li>
              </div>
              <p>
                Sometimes, we have to collect your personal info because the law says we have to.
              </p>
  
              <h2 class="section-title">Use and disclosure:</h2>
              <p>
                We use and share your personal info for the reasons we told you about when we collected it. For instance, if you're in Australia, we might use it for other related reasons you'd expect.
              </p>
              <p>
                For example, we might share your info with companies that help us provide our services, like tech support or mailing services. If you're booking a trip with us, we might need to share your info with the airline or insurance company to make sure everything goes smoothly.
              </p>
              <p>
                Sometimes, we use your info for marketing to let you know about cool new stuff we have. We might use different ways to reach you, like mail, text, calls, or online ads. And sometimes, other companies we work with might use the info we share with them to show you ads about our stuff.
              </p>
              <p>
                If you have preferences about how we market to you, you can let us know.
              </p>
  
              <h2 class="section-title">Who We Share Your Info With:</h2>
              <p>
                We share and collect info from different people and companies, not just you. These could be other companies in Vacation Feast, research organizations, tech providers, marketing agencies, travel companies you're booking with, and more.
              </p>
  
              <h2 class="section-title">Overseas disclosure:</h2>
              <p>
                Sometimes, we might send your info overseas or collect it from there. We'll only do this if we need to for our services or if the law requires it. We'll make sure to only share what's necessary and follow all the rules. We might send your info to countries like the USA, UK, Japan, India, and others, depending on where we're working.
              </p>
              <div class="tc_ul">
                <li>On computers
                </li>
                <li>In electronic databases
                </li>
                <li>Digital records
                </li>
                <li>Phone recordings
                </li>
                <li>Paper files
                </li>
              </div>
              <p>These might be managed by us or by another company we work with, either in Australia or overseas.</p>
              <p>We do our best to protect your info from being misused, accessed by unauthorized people, or lost. Here's how:</p>
              <div class="tc_ul">
                <li>We limit who can get into our buildings.
                </li>
                <li>We control who can access your info electronically and physically.
                </li>
                <li>We have backup systems in case something goes wrong.
                </li>
                <li>We use security technology to keep your info safe.
                </li>
                <li>We make sure any other companies we work with also have good security measures.
                </li>
              </div>

              <p>We regularly review and improve our security measures to make sure they're up to date.</p>
              <p>Emails to us might not be totally secure, so if you're worried about that, you can contact us in other ways. But we use strong encryption and firewalls to protect your info online. Once we get your info, we keep it safe using things like firewalls and user IDs.</p>
              <p>We also train our staff on how to keep your info private, and only give access to authorized people.</p>
  
              <h2 class="section-title">How We Keep Your Info Safe:</h2>
              <p>
                We store your personal info in different ways:
              </p>
              <div class="tc_ul">
                <li>On computers
                </li>
                <li>In electronic databases
                </li>
                <li>Digital records
                </li>
                <li>Phone recordings
                </li>
                <li>Paper files
                </li>
              </div>
              <p>These might be managed by us or by another company we work with, either in Australia or overseas.</p>
              <p>We do our best to protect your info from being misused, accessed by unauthorized people, or lost. Here's how:</p>
              <div class="tc_ul">
                <li>We limit who can get into our buildings.
                </li>
                <li>We control who can access your info electronically and physically.
                </li>
                <li>We have backup systems in case something goes wrong.
                </li>
                <li>We use security technology to keep your info safe.
                </li>
                <li>We make sure any other companies we work with also have good security measures.
                </li>
                <li>We regularly review and improve our security measures to make sure they're up to date.
                </li>
              </div>
              <p>Emails to us might not be totally secure, so if you're worried about that, you can contact us in other ways. But we use strong encryption and firewalls to protect your info online. Once we get your info, we keep it safe using things like firewalls and user IDs.</p>
              <p>We also train our staff on how to keep your info private, and only give access to authorized people.</p>
  
            
  
            </div>
          </div>
        </div>
      </div>
    <!-- Terms Ends -->

   <!-- footer starts -->
        {% include 'home/footer.html' %}
      <!-- footer ends -->
    <script src="{% static 'js/home/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home/particles.js' %}"></script>
    <script src="{% static 'js/home/particlerun.js' %}"></script>
    <script src="{% static 'js/home/plugin.js' %}"></script>
    <script src="{% static 'js/home/main.js' %}"></script>
    <script src="{% static 'js/home/custom-accordian.js' %}"></script>
    <script src="{% static 'js/home/custom-nav.js' %}"></script>
    
</body>
</html>