{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Terms & Conditions - Vacation Feast</title>

    <meta name="og:title" content="Terms & Conditions - Vacation Feast">
    
    <meta name="description" content="Explore the terms & conditions of Vacation Feast for an insightful guide to booking procedures and obligations." />
    
    <meta name="og:description" content="Explore the terms & conditions of Vacation Feast for an insightful guide to booking procedures and obligations.">
    <meta name="keywords" content="terms and conditions" />

   <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/home/Magnet logo.png' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/home/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="{% static 'css/home/style.css' %}" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="{% static 'css/home/plugin.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/home/fonts/line-icons.css' %}" type="text/css">
</head>

<body>
    <h1 style="display:none">Terms & Conditions - Vacation Feast</h1>

    <!-- Preloader -->
     <div id="preloader">
        <div id="status"></div>
    </div> 
    <!-- Preloader Ends -->

    <!-- header starts -->
    {% include 'home/header.html' %}
    <!-- header ends -->

    <!-- Terms starts -->
    <!-- <section class="pt-3 pb-3">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section> -->
    <style>
        .title {
            font-size: 35px;
        }

        .section-title {
            font-size: 20px;
            margin-top: 30px;
        }

        p {
            font-size: 14px;
        }

       
    </style>
    <div class="container">
        <div class="row col-lg-10 mx-auto mt-10 mb-5 terms-and-conditions-section">
          <div class="text-center">
            <h1 class="title">Terms and Conditions</h1>
          </div>
  
          <div class="bg-grey pt-1 px-5 pb-4 rounded">
            <div class="content">
  
              <h2 class="section-title">Agreement Overview:</h2>
              <p>
                This agreement outlines the terms and conditions between the User and Travel Troops Global Pvt. Ltd. (TTGPL), operating under the brand Vacation Feast, for services provided through various channels including websites, salespersons, and call centers.
              </p>
            
              <h2 class="section-title">User's Responsibilities:</h2>
              <p>
                By availing services from TTGPL, the User agrees to abide by the terms outlined in this agreement, which govern all transactions. Users are responsible for ensuring the accuracy of information provided and must comply with applicable laws and regulations.
              </p>
  
              <h2 class="section-title">Third Party Account Information: </h2>
              <p>
                Users authorize TTGPL to access third-party sites for retrieving necessary information. Users are responsible for maintaining the confidentiality of their account details and must notify TTGPL of any unauthorized use.
              </p>
  
              <h2 class="section-title">Confidentiality: </h2>
              <p>
                Information marked as confidential by TTGPL must be kept confidential by the User unless required by law or for the purpose of this agreement.
              </p>
  
              <h2 class="section-title">Website and Mobile App Usage: </h2>
              <p>
                Users use TTGPL's website and app at their own risk and must ensure that products or services meet their requirements. Unauthorized reproduction or distribution of content is prohibited.
              </p>
  
              <h2 class="section-title">Onus of the User: </h2>
              <p>
                Users are responsible for verifying the accuracy of data and bookings and must comply with additional procedures and guidelines. Users must also comply with applicable laws and regulations.
              </p>
  
              <h2 class="section-title">Insurance: </h2>
              <p>
                Users are responsible for obtaining sufficient insurance coverage unless explicitly provided by TTGPL.
              </p>
  
              <h2 class="section-title">Force Majeure Circumstances: </h2>
              <p>
                TTGPL is not liable for situations beyond its control, such as flight cancellations due to weather conditions, and will make efforts to provide alternatives or refunds where possible.
              </p>
  
              <h2 class="section-title">Limitation of Liability: </h2>
              <p>
                TTGPL's liability is limited to the refund of the amount received for its services, excluding cancellation or refund charges.
              </p>
  
              <h2 class="section-title">Safety of Data Downloaded: </h2>
              <p>
                Users download material at their own risk, although TTGPL endeavors to ensure content is free of malware.
              </p>
  
              <h2 class="section-title">Feedback and Solicitation: </h2>
              <p>
                TTGPL may contact users with offers and promotions unless the user opts out.
              </p>
  
              <h2 class="section-title">Proprietary Rights: </h2>
              <p>
                Users must obtain authorization for using copyrighted material and agree not to upload unauthorized content.
              </p>
  
              <h2 class="section-title">Visa Obligations: </h2>
              <p>
                Users are responsible for obtaining required visas for travel bookings and TTGPL is not liable for any issues arising from visa requirements.
              </p>

              
              <h2 class="section-title">Indemnification: </h2>
              <p>
                Users indemnify TTGPL against any losses or liabilities arising from breach of this agreement.
              </p>

              
              <h2 class="section-title">Right to Refuse: </h2>
              <p>
                TTGPL reserves the right to refuse orders and suspend user accounts for breach of agreement.
              </p>

              
              <h2 class="section-title">Right to Cancellation: </h2>
              <p>
                TTGPL may cancel bookings if user information is found to be incorrect or misrepresented.
              </p>

              
              <h2 class="section-title">Severability: </h2>
              <p>
                If any provision of the agreement is found invalid, the remaining provisions remain in effect.
              </p>

              
              <h2 class="section-title">Modification of Terms: </h2>
              <p>
                TTGPL may change terms and conditions, and users are responsible for reviewing updates.
              </p>

              
              <h2 class="section-title">Jurisdiction: </h2>
              <p>
                Disputes are subject to the jurisdiction of Chennai, India.
              </p>

              
              <h2 class="section-title">User Responsibilities: </h2>
              <p>
                Users acknowledge that services are provided on an "as is" basis and must discontinue use if they disagree with the terms.
              </p>

              
              <h2 class="section-title">Usage of Customer's Holiday Pictures: </h2>
              <p>
                Customer pictures shared during or after trips may be used on social media, with an option to opt out by contacting TTGPL.
              </p>
              
  
            </div>
          </div>
        </div>
      </div>
    <!-- Terms Ends -->

      <!-- footer starts -->
        {% include 'home/footer.html' %}
      <!-- footer ends -->
    <script src="{% static 'js/home/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home/particles.js' %}"></script>
    <script src="{% static 'js/home/particlerun.js' %}"></script>
    <script src="{% static 'js/home/plugin.js' %}"></script>
    <script src="{% static 'js/home/main.js' %}"></script>
    <script src="{% static 'js/home/custom-accordian.js' %}"></script>
    <script src="{% static 'js/home/custom-nav.js' %}"></script>
</body>
</html>