
{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ meata_image.MetaTitle }}</title>

    <meta name="og:title" content="{{ meata_image.MetaTitle }}">
    
    <meta name="description" content="{{ meata_image.Metadescription }}" />
    
    <meta name="og:description" content="{{ meata_image.Metadescription }}">
    <meta name="keywords" content="{{ meata_image.Metakeyword }}" />
    <!--canonical-->
    <link  href="{{ meata_image.canonical }}" rel="canonical" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/home/Magnet logo.png' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/home/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/home/destinationhome.css' %}" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="{% static 'css/home/style.css' %}" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="{% static 'css/home/plugin.css' %}" rel="stylesheet" type="text/css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home/fonts/line-icons.css' %}" type="text/css">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBNBM9PB85"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-DBNBM9PB85');
    </script>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-59RZR3T6');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
     <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59RZR3T6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <style>
        .banner{
            background-image: url("{% static 'image/CategoriesImages/' %}{{ meata_image.img_path }}");
            height: 500px;
        }
        /* tab  url("{% static 'image/CategoriesImages/' %}{{ meata_image.tab_path }}") */
        /* tab  mobile("{% static 'image/CategoriesImages/' %}{{ meata_image.Mobile_path }}") */
        #section-shape-img  {
           background-image: url("{% static 'image/images/shape8.png' %}");
       }
       #backpattren2{
       background-image:url("{% static 'image/images/shape8.png' %}");
     }
     #backpattren {
       background-image:url("{% static 'image/images/background_pattern.png' %}");

     }
   </style>
    <!-- Preloader -->
     <div id="preloader">
        <div id="status"></div>
    </div> 
    <!-- Preloader Ends -->

    <!-- header starts -->
    {% include 'home/header.html' %}
    <!-- header ends -->

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14 background-image banner" style="background-attachment:local !important;" >
        <!--<div class="section-shape section-shape1 top-inherit bottom-0" id="section-shape-img"></div>-->
        <div class="breadcrumb-outer">
            <div class="container">
                <!--<div class="breadcrumb-content text-center">-->
                <!--    <h1 class="mb-3 name"></h1>-->
                <!--    <nav aria-label="breadcrumb" class="d-block">-->
                <!--        <ul class="breadcrumb">-->
                <!--            <li class="breadcrumb-item"><a class="tripType" href=""></a></li>-->
                <!--            <li class="breadcrumb-item active name" aria-current="page"></li>-->
                <!--        </ul>-->
                <!--    </nav>-->
                <!--</div>-->
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function() {
    var name_int = document.getElementById("name_int").value;
    var domesticDestinations = ["South", "North", "West", "East"];
    var formattedText = name_int.replace(/_/g, ' ');

    var pTags = document.getElementsByClassName('name');

    for (var i = 0; i < pTags.length; i++) {
        var destinationCategory = pTags[i].textContent; // Assuming destinationCategory is derived from the text content of pTags
        if (domesticDestinations.includes(name_int)) {
            pTags[i].textContent = formattedText + " India";
        } else {
            pTags[i].textContent = formattedText;
        }
    }
});

    </script> -->
    
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function() {
            var destinationCategory = document.getElementById("name_int").value;
            var domesticDestinations = ["South", "North", "West", "East"];
            
            // Check if the destination category is in the list of domestic destinations
            var isDomestic = domesticDestinations.includes(destinationCategory);
            
            // Find the anchor tag
            var anchorTag = document.querySelector('.tripType');
           
    
            // Set the inner text based on whether it's domestic or international
            if (isDomestic) {
                anchorTag.textContent = 'Domestic';
                
            
            } else {
                anchorTag.textContent = 'International';
                
                // If it's an international destination, add "India" to the text
               
            }
        });
    </script>
    
    -->

    <!-- Pakkages List starts -->
    <section class="package-list">
        <div class="section-title mb-6 w-50 mx-auto text-center">
            <input type="hidden" id="name_int" value="{{Cities_list.0.destination_category}}">
            <h2 class="mb-1">Explore <span class="theme name">{{city_name}}</span></h2>
        </div>
        <div class="container package-list-div mx-auto justify-content-center align-items-center row">
            {% for City_list in categories_City %}
            {% if City_list.category == '0' %}
            <div class="col-lg-4 px-2 col-md-6 col-sm-6 mb-4">
                <div class="trend-item1">
                    <div class="trend-image deslist_int_image_div position-relative rounded">
                        <!-- ?continent={{ City_list.id }}&city={{ City_list.destination_name }}&name={{ City_list.destination_category }}&img={{ City_list.destination_image }} -->
                        <a href="{% url 'international-tour-packages' City_list.destination_slug %}">
                            <img src="{% static 'destination/desti_image/' %}{{ City_list.image }}" class="deslist_int_image" alt="image">
                            <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100">
                                <div class="trend-content-title">
                                    
                                    <h5 class="mb-0"><a href="{% url 'international-tour-packages' City_list.destination_slug %}" class="theme1">{{City_list.destination_name}}</a></h5>
                                    <!-- <h3 class="mb-0 white">{{City_list.destination_name}}</h3> -->
                                </div>
                                <!-- <span class="white bg-theme p-1 px-2 rounded">15 Tours</span> -->
                            </div>
                            <!--<div class="color-overlay"></div>-->
                        </a>
                    </div>
                </div>
                <!-- Add more elements if needed -->
            </div>
            {% else %}
            <div class="col-lg-4 px-2 col-md-6 col-sm-6 mb-4">
                <div class="trend-item1">
                    <div class="trend-image deslist_int_image_div position-relative rounded">
                        <!-- ?continent={{ City_list.id }}&city={{ City_list.destination_name }}&name={{ City_list.destination_category }}&img={{ City_list.destination_image }} -->
                        <a href="{% url 'domestic-packages' City_list.destination_slug %}">
                            <img src="{% static 'destination/desti_image/' %}{{ City_list.image }}" class="deslist_int_image" alt="image">
                            <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100">
                                <div class="trend-content-title">
                                    
                                    <h5 class="mb-0"><a href="{% url 'domestic-packages' City_list.destination_slug %}" class="theme1">{{City_list.destination_name}}</a></h5>
                                    <!-- <h3 class="mb-0 white">{{City_list.destination_name}}</h3> -->
                                </div>
                                <!-- <span class="white bg-theme p-1 px-2 rounded">15 Tours</span> -->
                            </div>
                            <!--<div class="color-overlay"></div>-->
                        </a>
                    </div>
                </div>
                <!-- Add more elements if needed -->
            </div>
            {% endif %}
            {% endfor %}
          
        </div>
       
       
    </section>
    <!-- Pakkages List ends -->


    <!-- footer starts -->
    {% include 'home/footer.html' %}
    <!-- footer ends -->
    
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->

   
    </div>

 

    <!-- *Scripts* -->
    <script src="{% static 'js/home/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home/particles.js' %}"></script>
    <script src="{% static 'js/home/particlerun.js' %}"></script>
    <script src="{% static 'js/home/plugin.js' %}"></script>
    <script src="{% static 'js/home/main.js' %}"></script>
    <script src="{% static 'js/home/custom-nav.js' %}"></script>
    <script src="{% static 'js/home/custom-swiper.js' %}"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>