{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ meta.meta_title }}</title>

    <meta name="og:title" content="{{ meta.meta_title }}">
    
    <meta name="description" content="{{ meta.meta_description }}" />
    
    <meta name="og:description" content="{{ meta.meta_description }}">
    <meta name="keywords" content="{{ meta.meta_keyword }}" />
     <!--canonical-->
    <link  href="https://vacationfeast.com/contact-us/" rel="canonical" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/home/Magnet logo.png' %}">
   <!-- Bootstrap core CSS -->
    <link href="{% static 'css/home/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="{% static 'css/home/style.css' %}" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="{% static 'css/home/plugin.css' %}" rel="stylesheet" type="text/css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/home/fonts/line-icons.css' %}" type="text/css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBNBM9PB85"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-DBNBM9PB85');
    </script>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-59RZR3T6');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59RZR3T6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Preloader Ends -->

    <!-- header starts -->
    {% include 'home/header.html' %}
    <!-- header ends -->
    
 
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14">
        <div class="section-shape section-shape1 top-inherit bottom-0" ></div>
        <div class="breadcrumb-outer">
            <div class="container">
                <!--<div class="breadcrumb-content text-center">-->
                <!--    <h2 class="mb-3">Contact Us</h2>-->
                    <!--<nav aria-label="breadcrumb" class="d-block">-->
                    <!--    <ul class="breadcrumb">-->
                    <!--        <li class="breadcrumb-item"><a href="{% url 'home_page'%}">Home</a></li>-->
                    <!--        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>-->
                    <!--    </ul>-->
                    <!--</nav>-->
                <!--</div>-->
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 
    <section class="contact-main">
        <div style="height:10px; width: 100%;">
            <img src="{% static 'image/home/Contact us resize .jpg' %}" alt="image">
        </div>
    </section>
    
    <h1 style="display:none">Contact Us</h1>

    <!-- contact starts -->
    <section class="contact-main pt-6 pb-60">
        <div class="container">
            <div class="contact-info-main mt-0">
                <div class="row">
                    <div class="col-lg-10 col-offset-lg-1 mx-auto">
                        <div class="contact-info bg-white">
                            <div class="contact-info-title text-center mb-4 px-5">
                                <h3 class="mb-1">Plan Your Holidays With Our Assistance</h3>
                                <p class="mb-0">From personalized itineraries to expert recommendations, we're here to make your dream vacation a reality</p>
                            </div>
                            <div class="contact-info-content row mb-1">
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="info-item bg-lgrey px-4 py-4 border-all text-center rounded" style="height: 236px;">
                                        <div class="info-icon mb-2">
                                            <i class="fa fa-map-marker-alt theme"></i>
                                        </div>
                                        <div class="info-content">
                                            <h3>Office Location</h3>
                                            <p class="m-0">IndiQube, Brigade Vantage, OMR Road, Perungudi, Chennai - 600096</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
                                        <div class="info-icon mb-2">
                                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 55px;"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#029e9d" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                                        </div>
                                        <div class="info-content">
                                            <h3>Phone Number</h3>
                                            <p class="m-0">+91 9941036383</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
                                        <div class="info-icon mb-2">
                                            <i class="fa fa-envelope theme"></i>
                                        </div>
                                        <div class="info-content ps-4">
                                            <h3>Email Address</h3>
                                            <p class="m-0">enquiry@vacationfeast.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="contact-form1" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="map rounded overflow-hiddenb rounded mb-md-4">
                                            <div style="width: 100%">
                                                <iframe height="500" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+(Vacationfeast)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div id="contactform-error-msg"></div>
                                        <div class="form-group mb-2">
                                            <input type="text" name="name" class="form-control" id="fullname" placeholder="Name">
                                            <div id="name-error-msg" class="error-msg"></div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                            <div id="email-error-msg" class="error-msg"></div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="text" name="phone" class="form-control" id="phonenumber" placeholder="Phone">
                                            <div id="phone-error-msg" class="error-msg"></div>
                                        </div>
                                        <div class="textarea mb-2">
                                            <textarea name="destination" id="destination" placeholder="Enter a message"></textarea>
                                            <div id="destination-error-msg" class="error-msg"></div>
                                        </div>
                                        <div class="comment-btn text-center">
                                            <input type="button" class="nir-btn" id="submit2" value="Send Message">
                                        </div>
                                    </div>
                                    <script>
                                        document.getElementById("submit2").addEventListener("click", function() {
                                            // Perform form validation
                                            var name = document.getElementById("fullname").value;
                                            var email = document.getElementById("email").value;
                                            var phone = document.getElementById("phonenumber").value;
                                            var destination = document.getElementById("destination").value;
                                    
                                            var nameRegex = /^[a-zA-Z\s]+$/;
                                            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                                            var phoneRegex = /^[0-9]{10}$/;
                                    
                                            var isValid = true;
                                    
                                            if (!nameRegex.test(name)) {
                                                document.getElementById("name-error-msg").innerHTML = "Please enter a valid name.";
                                                isValid = false;
                                            } else {
                                                document.getElementById("name-error-msg").innerHTML = "";
                                            }
                                    
                                            if (!emailRegex.test(email)) {
                                                document.getElementById("email-error-msg").innerHTML = "Please enter a valid email address.";
                                                isValid = false;
                                            } else {
                                                document.getElementById("email-error-msg").innerHTML = "";
                                            }
                                    
                                            if (!phoneRegex.test(phone)) {
                                                document.getElementById("phone-error-msg").innerHTML = "Please enter a valid 10-digit phone number.";
                                                isValid = false;
                                            } else {
                                                document.getElementById("phone-error-msg").innerHTML = "";
                                            }
                                    
                                            if (destination.trim() === "") { // Check if destination is empty after trimming whitespace
                                                document.getElementById("destination-error-msg").innerHTML = "Please enter a message.";
                                                isValid = false;
                                            } else {
                                                document.getElementById("destination-error-msg").innerHTML = "";
                                            }
                                    
                                            if (isValid) {
                                                // Send data to the backend using Fetch API
                                                if (email != null && email !== "") {
                                                    // Send data to server using AJAX
                                                    $.ajax({
                                                        url: '/insert_customer_details/',
                                                        type: 'POST',
                                                        headers: {
                                                            'X-CSRFToken': getCSRFToken() // Include CSRF token in headers
                                                        },
                                                        data: {
                                                            name: name,
                                                            email: email,
                                                            phone: phone,
                                                            destination: destination
                                                        },
                                                        success: function(response) {
                                                            // Handle success response
                                                            console.log(response);
                                                            if (response.success === true) {
                                                                document.getElementById('Password').innerHTML = " ";
                                                                document.getElementById('Password').innerHTML = "<p>Password Changed</p>";
                                                                document.getElementById('gif').style.display = 'block';
                                                                // If the response is success, submit the form
                                                            } else {
                                                                console.log("success")
                                                                $("#passwordErrors").text(response.error_message);
                                                            }
                                                        },
                                                        error: function(xhr, status, error) {
                                                            // Handle error
                                                            console.error(xhr.responseText);
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    
                                        // Function to get CSRF token from meta tag
                                        function getCSRFToken() {
                                            var cookies = document.cookie.split("; ");
                                            for (var i = 0; i < cookies.length; i++) {
                                                var cookie = cookies[i].split("=");
                                                if (cookie[0] === "csrftoken") {
                                                    return cookie[1];
                                                }
                                            }
                                            return "";
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact Ends -->

    <!-- footer starts -->
    {% include 'home/footer.html' %}
    <!-- footer ends -->
    
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->

   <!--Css-->
    <style>
    .section-shape {
        background-image: url("{% static 'image/home/shape8.png' %}");
    }
    .breadcrumb-main {
        background-image: url("{% static 'image/home/Contact us resize .jpg' %}");
        height: 500px;
    }
  </style>
   <!--Css-->

    <!-- *Scripts* -->
    <script src="{% static 'js/home/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home/particles.js' %}"></script>
    <script src="{% static 'js/home/particlerun.js' %}"></script>
    <script src="{% static 'js/home/plugin.js' %}"></script>
    <script src="{% static 'js/home/main.js' %}"></script>
    <script src="{% static 'js/home/custom-swiper.js' %}"></script>
    <script src="{% static 'js/home/custom-nav.js' %}"></script>

</body>
</html>