{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <title>Travelin - Travel Tour Booking HTML Templates</title> -->
    <title>{{ meta.meta_title }}</title>

    <meta name="og:title" content="{{ meta.meta_title }}">
    
    <meta name="description" content="{{ meta.meta_description }}" />
    
    <meta name="og:description" content="{{ meta.meta_description }}">
    <meta name="keywords" content="{{ meta.meta_keyword }}" />
    
    <!--canonical-->
    <link  href="{{ meta.canonical }}" rel="canonical" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/home/Magnet logo.png' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/home/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="{% static 'css/home/style.css' %}" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="{% static 'css/home/plugin.css' %}" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <!--Line-icons-->
    <link rel="stylesheet" href="{% static 'css/home/fonts/line-icons.css' %}" type="text/css">
    
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBNBM9PB85"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-DBNBM9PB85');
    </script>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-59RZR3T6');</script>
    <!-- End Google Tag Manager -->
</head>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59RZR3T6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Preloader Ends -->

    <!-- header starts -->
    {% include 'home/header.html' %}
    <!-- header ends -->
    <style>
        .section-shape {
            background-image: url("{% static 'image/home/shape8.png' %}");
        }
        .breadcrumb-main {
            background-image: url("{% static 'image/home/Untitled design 54 (1).png' %}");
            height: 500px;
        }
        
            
        @media (max-width: 400px) {
         .breadcrumb-main{
                    height: 400px; 
                }
        }
        
        
        @media (max-width: 300px) {
       .breadcrumb-main{
                    height: 320px; 
                }
        }
    </style>
<h1 style="display:none">Blogs - Travel Blogs </h1>

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14" style="background-attachment:local !important;">
        <!--<div class="section-shape section-shape1 top-inherit bottom-0"></div>-->
        <div class="breadcrumb-outer">
            <div class="container">
                <!--<div class="breadcrumb-content text-center">-->
                <!--    <h1 class="mb-3">Blogs</h1>-->
                <!--    <nav aria-label="breadcrumb" class="d-block">-->
                <!--        <ul class="breadcrumb">-->
                <!--            <li class="breadcrumb-item"><a href="{% url 'home_page'%}">Home</a></li>-->
                <!--            <li class="breadcrumb-item active" aria-current="page">Blogs</li>-->
                <!--        </ul>-->
                <!--    </nav>-->
                <!--</div>-->
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    {% block content %}
    <!-- blog starts -->
    <section class="blog">
        <div class="container">
            <div class="row flex-row-direction">
                <div class="col-lg-8 ps-lg-4">
                    <div class="listing-inner">
                        <div class="list-results d-flex align-items-center justify-content-between">
                            <div class="list-results-sort">
                                <p class="m-0">Showing 1-5 of {{ blog_entries_count }} results</p>
                            </div>
                            <!-- <div class="click-menu d-flex align-items-center justify-content-between">
                                <div class="change-list f-active me-2 rounded overflow-hidden"><a href="post-list-1.html"><i class="fa fa-bars"></i></a></div>
                                <div class="change-grid me-2 rounded overflow-hidden"><a href="post-grid-1.html"><i class="fa fa-th bg-grey"></i></a></div>
                            </div> -->
                        </div>
                        
                        

                        {% for blog_entry in blog_entries %}
                        <div class="blogs" data-tags="{{ blog_entry.description.tags }}" data-title="{{ blog_entry.description.title }}">
                        <div class="blog-full d-flex mb-4 border-b bg-white box-shadow p-3 rounded border-all">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 blog-height">
                                   <div class="blog-image rounded">
                                        <a href="/blogs/{{ blog_entry.description.url }}" ><img src="{% static blog_entry.description.grid_image_url %}"></a>
                                    </div> 
                                </div>
                                <div class="col-lg-7 col-md-8">
                                    <div class="blog-content">
                                        <h5 class="theme mb-0">{{ blog_entry.description.hint }}</h5>
                                        <meta name="csrf-token" content="{{ csrf_token }}">

                                        
                                        <h3 class="mb-0"><a href="/blogs/{{ blog_entry.description.url }}" id="title-link{{blog_entry.id}}" class="update-link" data-blog-id="{{ blog_entry.id }}" data-blog-url="{{ blog_entry.description.url }}">{{ blog_entry.description.title }}</a></h3>
                                        <script>
                                            // Get the title element
                                            var titleElement = document.getElementById('title-link{{blog_entry.id}}');
                                            var titleText = titleElement.textContent;
                                        
                                            // Replace numbers with spans having a specific class
                                            var replacedText = titleText.replace(/[\d&]+/g, function(match) {
                                                return "<span class='number'>" + match + "</span>";
                                            });
                                        
                                            // Set the modified HTML back to the element
                                            titleElement.innerHTML = replacedText;
                                        </script>
                                        <p class="date-cats mb-1 mt-1">
                                            <a href="#" class="me-2"><i class="fa fa-file"></i> {{ blog_entry.description.category }}</a> 
                                            <a href="#" class="me-2"><i class="fa fa-calendar-alt"></i> {{ blog_entry.description.created_on }}</a>
                                            <a href="#" class=""><i class="fa fa-user"></i> By {{ blog_entry.description.author }}</a>
                                        </p> 
                                        <p class="mb-0" style="height: 50px;overflow-y: hidden;">{{ blog_entry.description.description }}</p>  
                                       <a href="/blogs/{{ blog_entry.description.url }}" class="update-link" data-blog-id="{{ blog_entry.id }}" data-blog-url="{{ blog_entry.description.url }}"><span class="mb-0" style="color: #029e9d;cursor: pointer;">Read more....</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% empty %}
                            <td>No blog entries found.</td>
                        {% endfor %}
                        
                        <div class="pagination-main text-center">
                            <ul class="pagination">
                                {% if blog_entries.has_previous %}
    <li><a href="?page=1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
    <li><a href="?page={{ blog_entries.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
{% endif %}

{% for page_num in blog_entries.paginator.page_range %}
    {% if blog_entries.number > 2 %}
        {% if page_num >= blog_entries.number|add:"-1" and page_num <= blog_entries.number|add:"1" %}
            <li{% if page_num == blog_entries.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
    {% else %}
        {% if forloop.counter <= 3 %}
            <li{% if page_num == blog_entries.number %} class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}

{% if blog_entries.has_next %}
    <li><a href="?page={{ blog_entries.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="?page={{ blog_entries.paginator.num_pages }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
{% endif %}

                            </ul>
                        </div>
                        
                    </div>
                </div>
                <!-- <script>
                    // Function to send the URL to the backend Django view
                    function sendURLToBackend(url) {
                        $.ajax({
                            url: "/blogs/" + url,
                            type: "GET",
                            success: function(response) {
                                // Handle success response from the backend
                                console.log("Backend response:", response);
                            },
                            error: function(xhr, status, error) {
                                // Handle error response from the backend
                                console.error("Error:", error);
                            }
                        });
                    }
                
                    // Function to create and submit the form
                    function createAndSubmitForm(url) {
                        // Create a form element
                        var form = document.createElement('form');
                        form.method = 'get';
                        form.action = ''; // Set the action attribute to your desired endpoint
                
                        // Create an input element for the URL
                        var input = document.createElement('input');
                        input.type = 'hidden'; // Hidden input field
                        input.name = 'blog-url';
                        input.value = url;
                
                        // Append the input to the form
                        form.appendChild(input);
                
                        // Append the form to the document body
                        document.body.appendChild(form);
                
                        // Submit the form
                        form.submit();
                    }
                
                    // When the document is ready
                    $(document).ready(function() {
                        // Assuming you want to trigger the function when the link is clicked
                        $(".update-link").click(function(event) {
                            event.preventDefault(); // Prevent the default action of the link
                            var url = $(this).data("blog-url"); // Get the URL from the data attribute
                            createAndSubmitForm(url); // Call the function to create and submit the form
                        });
                    });
                </script> -->
                <!-- <script>
                    // Assuming you have jQuery included in your project
                
                    // Function to send the URL to the backend Django view
                    function sendURLToBackend(url) {
                        $.ajax({
                            url: "/blogs/" + url,
                            type: "GET",
                            success: function(response) {
                                // Handle success response from the backend
                                console.log("Backend response:", response);
                            },
                            error: function(xhr, status, error) {
                                // Handle error response from the backend
                                console.error("Error:", error);
                            }
                        });
                    }
                
                    // When the document is ready
                    $(document).ready(function() {
                        // Assuming you want to trigger the function when the link is clicked
                        $(".update-link").click(function(event) {
                            event.preventDefault(); // Prevent the default action of the link
                            var url = $(this).data("blog-url"); // Get the URL from the data attribute
                            sendURLToBackend(url); // Call the function to send URL to the backend
                        });
                    });
                </script> -->
                                    
                <!-- sidebar starts -->
                <div class="col-lg-4 pe-lg-4 mt-2" style="background: #f1f1f1;border-radius: 12px;">
                    <div class="sidebar-sticky">
                         
                        <div class="list-sidebar">
                            <form method="GET" action="{% url 'gridblogus' %}"l" id="myForm1">
                            <div class="sidebar-item mt-2">
                                <h4 class="">Search Here</h4>
                                <div class="newsletter-form rounded overflow-hidden position-relative mb-4">
                                        <input type="text" placeholder="Search by blog titles.." name="search_query" value="{{ search_query }}">
                                        <input type="submit" onclick="test()" class="nir-btn bordernone rounded-0 position-absolute end-0" value="Search">
                                </div>
                            </div>
                            </form>
                            <script>
                                function test() {
                                    console.log('tet')
                                    document.getElementById("myForm1").submit();
                                }
                            </script>
                
                            

                            <!-- <div class="author-news mb-4 box-shadow p-5 text-center rounded overflow-hidden border-all">
                                <div class="author-news-content">
                                    <div class="author-thumb mb-1">
                                        <img src="images/team/img2.jpg" alt="author">
                                    </div>
                                    <div class="author-content">
                                        <h3 class="title mb-1"><a href="#">Relson Dulux</a></h3>
                                        <p class="mb-2">Hello, We’re content writer who is fascinated by content fashion, celebrity and lifestyle. We helps clients bring the right content to the right people.</p>
                                        <div class="header-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f rounded"></i></a></li>
                                                <li><a href="#"><i class="fab fa-google-plus-g rounded"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter rounded"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="sidebar-item mb-4">
                                <h4 class="">All Categories</h4>
                                <ul class="sidebar-category">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Featured</a></li>
                                    <li><a href="#">Sliders</a></li>
                                    <li class="active"><a href="#">Manage Listings</a></li>
                                    <li><a href="#">Address and Map</a></li>
                                    <li><a href="#">Reservation Requests</a></li>
                                    <li><a href="#">Your Reservation</a></li>
                                    <li><a href="#">Search Results</a></li>
                                </ul>
                            </div> -->
                           
                            <style>
                                .tag {
                                    cursor: pointer;
                                }
                                .hover-tag:hover {
                                    color: #ffffff !important;
                                }
/* 
                                ul li a:hover{
                                    background-color: #029e9d !important;
                                    color: #ffffff !important;
                                    text-decoration: none;
                                    /* font-weight: bold; Make selected tags bold */
                                /* }  */
                            
                            
                                .selected-tag {
                                    background-color: #029e9d !important;
                                    color: #ffffff !important;
                                    /* font-weight: bold; Make selected tags bold */
                                }
                                #tagshover:hover {
                                    color: #ffffff !important;
                                }
                                
                            </style>
                            <style>
                                #{{ tag_name }} {
                                    background-color: #029e9d !important;
                                    color: white !important;
                                }
                                
                            </style>
                            
                            <input type="hidden" id="new_id" class="new_id" value="{{ tag_id }}">
                            
                            <div class="sidebar-item mb-4">
                                <h4 class="">Tags</h4>
                                <ul class="sidebar-tags">
                                    {% for tag in tags %}
                                    <li><a href="#" class="tag" id="{{ tag.tag_name }}" data-id="{{ tag.id }}" data-name="{{ tag.tag_name }}">{{ tag.tag_name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $('.tag').click(function(){
                                        var tagId = $(this).data('id');
                                        var tagName = $(this).data('name');
                                        
                                        if (tagId == $('#new_id').val()) {
                                            tagId = ''; // Set tagId to an empty string
                                            tagName = '';
                                        }
                                        
                                        sendTagId(tagId,tagName);
                                    });
                                
                                    function sendTagId(tagId,tagName) {
                                        // Create a hidden form
                                        var form = $('<form>', {
                                            'method': 'post',
                                            'action': '/blogs-travelblogs/'
                                        });
                                
                                        // Add CSRF token input
                                        $('<input>').attr({
                                            'type': 'hidden',
                                            'name': 'csrfmiddlewaretoken',
                                            'value': '{{ csrf_token }}'
                                        }).appendTo(form);
                                
                                        // Add tag ID input
                                        $('<input>').attr({
                                            'type': 'hidden',
                                            'name': 'tag_id',
                                            'value': tagId
                                        }).appendTo(form);

                                        // Add tag ID input
                                        $('<input>').attr({
                                            'type': 'hidden',
                                            'name': 'tag_name',
                                            'value': tagName
                                        }).appendTo(form);
                                
                                        // Append the form to the body and submit it
                                        form.appendTo('body').submit();
                                    }
                                });
                                </script>
                            <div class="popular-post sidebar-item mb-4">
                                <div class="sidebar-tabs mt-3">
                                    <div class="post-tabs">
                                        <!-- tab navs -->
                                        <ul class="nav nav-tabs nav-pills nav-fill" id="postsTab1" role="tablist">
                                            <li class="nav-item d-inline-block" role="presentation">
                                                <button aria-selected="false" class="nav-link active py-1 rounded rec_par" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Popular</button>
                                            </li>
                                            <li class="nav-item d-inline-block" role="presentation">
                                                <button aria-selected="true" class="nav-link rounded py-1 rec_par" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recent</button>
                                            </li>
                                        </ul>
                                        <!-- tab contents -->
                                        <div class="tab-content" id="postsTabContent1">
                                            <!-- popular posts -->
                                            <div aria-labelledby="popular-tab" class="tab-pane fade active show" id="popular" role="tabpanel">
                                                {% for popular in popular_entries %}
                                                <article class="post mb-2 border-b pb-2">
                                                    <div class="s-content d-flex align-items-center justify-space-between">
                                                        <div class="sidebar-image w-25 me-3 rounded">
                                                            <a href="/blogs/{{ popular.description.url }}"><img src="{% static popular.description.grid_image_url %}" alt=""></a>
                                                        </div>
                                                        <div class="content-list w-75">
                                                            <h5 class="mb-1"><a href="/blogs/{{ popular.description.url }}" class="update-link"  id="popular{{popular.id}}" data-blog-id="{{ popular.id }}" data-blog-url="{{ popular.description.url }}">{{ popular.description.title }}</a></h5>
                                                            <script>
                                                                // Get the title element
                                                                var titleElement = document.getElementById('popular{{popular.id}}');
                                                                var titleText = titleElement.textContent;
                                                            
                                                                // Replace numbers with spans having a specific class
                                                                var replacedText = titleText.replace(/[\d&]+/g, function(match) {
                                                                    return "<span class='number'>" + match + "</span>";
                                                                });
                                                            
                                                                // Set the modified HTML back to the element
                                                                titleElement.innerHTML = replacedText;
                                                            </script>
                                                            <div class="date">{{ popular.description.created_on }}</div>
                                                        </div>    
                                                    </div> 
                                                </article>
                                                {% endfor %}
                                        </div>
                                            <!-- Recent posts -->
                                            <div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
                                                {% for last_entry in last_seven_entries %}
                                                <article class="post mb-2 border-b pb-2">
                                                    <div class="s-content d-flex align-items-center justify-space-between">
                                                        <div class="sidebar-image w-25 me-3 rounded">
                                                            <a href="/blogs/{{ last_entry.description.url }}" ><img src="{% static last_entry.description.grid_image_url %}" alt=""></a>
                                                        </div>
                                                        <div class="content-list w-75">
                                                            <h5 class="mb-1"><a href="/blogs/{{ last_entry.description.url }}" class="update-link" id="recent{{last_entry.id}}" data-blog-id="{{ last_entry.id }}" data-blog-url="{{ last_entry.description.url }}">{{ last_entry.description.title }}</a></h5>
                                                            <script>
                                                                // Get the title element
                                                                var titleElement = document.getElementById('recent{{last_entry.id}}');
                                                                var titleText = titleElement.textContent;
                                                            
                                                                // Replace numbers with spans having a specific class
                                                                var replacedText = titleText.replace(/[\d&]+/g, function(match) {
                                                                    return "<span class='number'>" + match + "</span>";
                                                                });
                                                            
                                                                // Set the modified HTML back to the element
                                                                titleElement.innerHTML = replacedText;
                                                            </script>
                                                            <div class="date">{{ last_entry.description.created_on }}</div>
                                                        </div>    
                                                    </div> 
                                                </article>
                                                {% endfor %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <!-- blog Ends -->  

    <!-- footer starts -->
    {% include 'home/footer.html' %}
    <!-- footer ends -->
    
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->
    
    <!--Css-->
      <style>
        .number {
            font-family: "Font Awesome 5 Brands;"
        }
        
        .nav-tabs {
            background:none !important;
        }
        
        .rec_par {
            border: 1px solid #029e9d !important;
        }
        
        .sidebar-sticky .list-sidebar .sidebar-item {
            padding:0 !important;
            margin-bottom:0 !important;
        }
        
        @media (max-width: 400px) {
            .blog-full .blog-height {
                height: 190px;
            }
        }
     </style>
    <!--Css-->
    

    <!-- *Scripts* -->
    <script src="{% static 'js/home/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/home/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/home/particles.js' %}"></script>
    <script src="{% static 'js/home/particlerun.js' %}"></script>
    <script src="{% static 'js/home/plugin.js' %}"></script>
    <script src="{% static 'js/home/main.js' %}"></script>
    <script src="{% static 'js/home/custom-nav.js' %}"></script>
</body>
</html>