{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
<!-- Note :
   - You can modify the font style and form style to suit your website. 
   - Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code. 
   - The Mandatory check script can modified as to suit your business needs. 
   - It is important that you test the modified form before going live.-->
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>

    <div class="container  mt-3">
        <div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm col-lg-4 mx-auto mt-5 p-3'>
            <form id='webform' action='https://crm.zoho.com/crm/WebToLeadForm' class="pt-2" name=WebToLeads3397113000057768001 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory3397113000057768001()' accept-charset='UTF-8' >
                <input type='text' style='display:none;' name='xnQsjsdp' value='1987d8f2e56ac4f57d64d80d77f6f44334199e4dd6510af74f018f537ef268a0'></input> 
                <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
                <input type='text' style='display:none;' name='xmIwtLD' value='e33fff330b924d6fbd37a2bdcf7dea957fffd2fdf4bd2aa9083ae363b65436b87d4c3edae9c7c540d3aec32ea907cd61'></input> 
                <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
                <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;visatal.com&#x2f;thank.html' > </input>
                <!-- Do not remove this code. -->
                <input type='text' style='display:none;' id='ldeskuid' name='ldeskuid'></input>
                <input type='text' style='display:none;' id='LDTuvid' name='LDTuvid'></input>
                <!-- Do not remove this code. -->
                <div class='zcwf_title text-center mb-5 align-items-center justify-content-center d-flex pt-2'>
                    <img src="Travel_img2.png" alt="" style="width: 40px;" class="me-3">
                    <h3 class="title_form pb-2 mb-0">Start Your Adventure Now</h3>
                </div>
                <div class='zcwf_row'>
                    <div class='zcwf_col_lab form-floating mt-3 mb-4'>
                        <!-- <label for='Last_Name'>Name<span style='color:red;'>*</span></label>
                        <input type='text' id='Last_Name' name='Last Name' maxlength='80'></input> -->
                        <input type="text" class="form-control fc_border" id="Last_Name" placeholder="Enter email" name="Last Name" >
                        <label for="Last_Name">Full Name</label>
                    </div>
                </div>
                <div class='zcwf_row'>
                    <div class='zcwf_col_lab  form-floating mt-3 mb-4'>
                        <!-- <label for='Mobile'>Mobile<span style='color:red;'>*</span></label>
                        <input type='text' id='Mobile' name='Mobile' maxlength='30'></input> -->
                        <input type="text" class="form-control fc_border" id="Mobile" placeholder="Enter Mobile" name="Mobile" >
                        <label for="Mobile">Mobile Number</label>
                    </div>
                </div>
                <div class='zcwf_row wfrm_fld_dpNn' style='display: none;'>
                    <div class='zcwf_col_lab'>
                        <label for='Lead_Source'>Lead Source</label>
                    </div>
                    <div class='zcwf_col_fld'>
                            <select class='zcwf_col_fld_slt' id='Lead_Source' name='Lead Source' >
                                <option value='-None-'>-None-</option>
                                <option value='BNI'>BNI</option>
                                <option value='Campaign'>Campaign</option>
                                <option value='Existing'>Existing</option>
                                <option value='Facebook'>Facebook</option>
                                <option value='Flyer&#x2f;Promotion'>Flyer&#x2f;Promotion</option>
                                <option value='Google&#x20;Ads&#x20;Auto'>Google Ads Auto</option>
                                <option value='Google&#x20;AdWords'>Google AdWords</option>
                                <option value='Instagram'>Instagram</option>
                                <option value='Matrimony'>Matrimony</option>
                                <option value='Meta&#x20;Ads&#x20;Auto'>Meta Ads Auto</option>
                                <option value='Others'>Others</option>
                                <option value='Past&#x20;Client&#x2f;Referral'>Past Client&#x2f;Referral</option>
                                <option value='PBC'>PBC</option>
                                <option value='Sulekha&#x20;Leads'>Sulekha Leads</option>
                                <option value='Travel&#x20;Triangle'>Travel Triangle</option>
                                <option value='Trip&#x20;Crafter'>Trip Crafter</option>
                                <option value='Tripoto'>Tripoto</option>
                                <option value='Twitter'>Twitter</option>
                                <option value='Walkin'>Walkin</option>
                                <option selected value='Website'>Website</option>
                                <option value='Whatsapp'>Whatsapp</option>
                            </select>
                    </div>
                </div>
                <div class='zcwf_row'>
                    <div class='zcwf_col_lab form-floating mt-3 mb-4'>
                        <!-- <label for='LEADCF23'>Destination<span style='color:red;'>*</span></label>
                        <textarea id='LEADCF23' name='LEADCF23'></textarea> -->
                        <textarea class="form-control fc_border" id="LEADCF23" name="LEADCF23" placeholder="Comment goes here" ></textarea>
                        <label for="LEADCF23">Destination</label>
                    </div>
                </div>
                <div class='zcwf_col_fld mt-5 mb-1 text-center d-none'>
                    <input type='submit' id='formsubmit' class='formsubmit-btn zcwf_button btn btn-primary rounded-pill px-5 py-2' value='Submit' title='Submit'>
                    <!-- <input type='reset' class='zcwf_button btn btn-primary' name='reset' value='Reset' title='Reset'> -->
                </div>
            </form>
            <form id="yourFormId" class="col-lg-4 mx-auto mt-5 p-3">
                <div>{{form.captcha}}</div>
                <span class="error bg-grey" id="Otp_error1"></span>
                <div class="text-center justify-content-center ">
                    <button type="button" class="btn mt-1 banner-theme white mx-auto rounded-pill px-5" id="submit-btn">Book Now</button>
                </div>
            </form>
        </div>
    </div>
              
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('submit-btn').addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default form submission
        
                var csrftoken = document.cookie.match(/csrftoken=([\w-]+)/)[1];
        
                // Check if the validation passes before making the AJAX call
                if (validatefunction()) {
                    $.ajax({
                        type: 'POST',
                        url: '/send_captcha',  // URL to the backend view
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        data: $('#yourFormId').serialize(), // Adjust this to your form ID
                        success: function(response) {
                            // Handle success response
                            
        
                            if (response.success === true) {
                                alert("submitted");
                                var clickbtn = document.getElementById('formsubmit');
                                $("#Sucessmessages2").click();
        
                                setTimeout(function() {
                                    // Submit the form associated with the element stored in the variable 'clickbtn'
                                    clickbtn.form.submit();
                                }, 2000);
        
                            } else {
                                console.log(response.message);
                                var otperror = document.getElementById('Otp_error1');
        
                                otperror.innerText = response.message;
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            // Handle error
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                } else {
                    console.log("Validation failed");
                }
            });
        });
        
        function validatefunction() {
            // Perform form validation
            var name = document.getElementById("Last_Name").value;
            var phone = document.getElementById("Mobile").value;
            var destination = document.getElementById("LEADCF23").value;
        
            var nameRegex = /^[a-zA-Z\s]+$/;
            var phoneRegex = /^[0-9]{10}$/;
        
            var isValid = true;
        
            if (!nameRegex.test(name)) {
                document.getElementById("name-error-msg").innerHTML = "Please enter a valid name.";
                isValid = false;
            } else {
                document.getElementById("name-error-msg").innerHTML = "";
            }
        
            if (!phoneRegex.test(phone)) {
                document.getElementById("phone-error-msg").innerHTML = "Please enter a valid 10-digit whatsapp number.";
                isValid = false;
            } else {
                document.getElementById("phone-error-msg").innerHTML = "";
            }
        
            if (destination.trim() === "") { // Check if destination is empty after trimming whitespace
                document.getElementById("destination-error-msg").innerHTML = "Please enter a message.";
                isValid = false;
            } else {
                document.getElementById("destination-error-msg").innerHTML = "";
            }
        
            return isValid; // Ensure the function returns the validation status
        }
    </script>
    
<!-- CSS -->
<style>
    .form-floating>label {
        color: gray;
    }

    .fc_border {
        border: 1px solid #777;
    }

    .form-control:focus {
        border-color: #777;
        box-shadow: 0 0 0 0.2rem rgb(194, 198, 198)
    } 

    .crmWebToEntityForm {
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .15);
        border-radius:12px 12px 6px 6px;
        border: 2px solid #029e9d;
        border-top: 8px solid #029e9d;
    }

    .title_form {
        color: #000000;
        font-size: 22px;
        border-bottom: 3px solid #029e9d;
        /* border-width: 50%; */
    }

    .formsubmit-btn {
        background: #029e9d;
        border: 1px solid;
    }
</style>

  <script type='text/javascript' id='VisitorTracking'>var $zoho= $zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:'siqc0edcffb77668b1137dcf714251632ccaa852938239b05df27926085165fd7fe0a6a0f8a09f9d75474af0bfd2e0e2166', values:{},ready:function(){}};var d=document;s=d.createElement('script');s.type='text/javascript';s.id='zsiqscript';s.defer=true;s.src='https://salesiq.zoho.com/widget';t=d.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);function trackVisitor(){try{if($zoho){var LDTuvidObj = document.forms['WebToLeads3397113000057768001']['LDTuvid'];if(LDTuvidObj){LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();}var firstnameObj = document.forms['WebToLeads3397113000057768001']['First Name'];if(firstnameObj){name = firstnameObj.value +' '+name;}$zoho.salesiq.visitor.name(name);var emailObj = document.forms['WebToLeads3397113000057768001']['Email'];if(emailObj){email = emailObj.value;$zoho.salesiq.visitor.email(email);}}} catch(e){}}</script>
      <!-- Do not remove this --- Analytics Tracking code starts -->
      <script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=553616f3ab68af4589383196f38ec75ebb31c086276d644e7249c5657f5d197d37b5c77cb87cf03f0bb79bcbde36465cgid1c95ff888e93be923f9d3e73b1fecfe36415557f452a9219a86ae1ba5cc1b43agidc993dbf93b2cbf2298aeb893d6ddfadf855062c77eaab33b30a3cb7614769fc8gid4db0c9a387eaa753aa8a73456f6547cb2d209c6185e7262927171c7bdf60e454&tw=6fd9e1e88bb47dfccb6ab1729a48e4175225c22e25ed30ddbb83440452f9388d'></script><!-- Do not remove this --- Analytics Tracking code ends. --></form>
  </div>
  
</body>
</html>






